* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        to right,
        rgb(253, 241, 241), 
        rgb(175, 160, 160)
    );
}

.title1 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    word-spacing: 3px;
}

.title2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    word-spacing: 3px;
    border-bottom-style: solid;
    border-bottom-color: darkslategrey;
}

/*eredmeny-teszt1.html*/
h5 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.testButtons1 {
    margin-left: 20px;
    margin-bottom: 30px;
}

/*hozzaadas.html*/
.fieldset {
    margin-top: 45px;
    margin-left: 20px;
}

#cardForm {
    margin-left: 20px;
}

.add-img, .add-img2 {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: auto;
    width: 80%;
    height: auto;
    border-radius: 6px;
}

/*index.html*/
.index-title {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.index-img {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
}

.flip-card {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    width: 75%;
    height: 15rem;
    margin: 1rem auto;
    margin-top: 4rem;
    text-align: center;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    backdrop-filter: blur(3rem);
    border-radius: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.190);
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    background-color: #f1f1f1;
    color: black;
    border-radius: 3rem;
}

.flip-card-front p, .flip-card-back p {
    margin-top: 1.5rem;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}


#previousButton {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 5%;
    width: 42.5%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: 0.3s;
}

#previousButton:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.32);
}

#nextButton {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 2.5%;
    width: 42.5%;
    height: auto;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: 0.3s;
}

#nextButton:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.32);
}

/* .card-title {
    margin-top: 10px;
}

.card-title2 {
    margin-top: 6%;
}

#theme {
    margin-top: 6%;
} */

/*listak.html*/
#cardsTable {
    margin-top: 40px;
}

#listBtn {
    margin-top: 50px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

#listBtn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.32);
}

#downloadBtn {
    margin-top: 15px;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

#downloadBtn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.32);
}

.list-group {
    margin-top: 40px;
}

/*nyelvek.html*/
#lang-list {
    margin-top: 50px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;

}

.lang-img1, .lang-img3, .lang-img5 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    height: auto;
}

.lang-img2, .lang-img4, .lang-img6 {
    margin-top: 50px;
    margin-left: 98px;
    margin-right: auto;
    width: 38%;
    height: auto;
}

/*temakorok.html*/
.list-group-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.clearfix {
    overflow: auto;
}

.theme-img {
    float: right;
    margin-left: 1%;
    margin-right: auto;
    width: 24%;
}

/*teszt1-teszt2-teszt3.html*/
.test {
    margin-top: 40px;
    margin-left: 30px;
}

.test-legend {
    border-bottom-style: solid;
    border-bottom-color: darkslategrey;
}

#sendBtn {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 5%;
    width: 42.5%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

#sendBtn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.32);
}

.fa.fa-check {
    margin-left: 14px;
    display: none;
    font-size: 24px;
    color: green;
}

.fa.fa-close {
    margin-left: 14px;
    display: none;
    font-size: 24px;
    color: red;
}

.test1-img {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

.test2-img {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.test3-img {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

#test-nav {
    margin-top: 40px;
}

#nav1, #nav2, #nav3 {
    color: darkslategrey;
}

/*torles.html*/
.del-title {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    word-spacing: 3px;
    border-bottom-style: solid;
    border-bottom-color: darkslategrey;
}