* {
    box-sizing: border-box;
}

body {
    background-color: transparent;
}

.title1 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    word-spacing: 3px;
}

.title2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: justify;
    word-spacing: 3px;
    border-bottom-style: solid;
    border-bottom-color: darkslategrey;
}

/*eredmeny-teszt1.html*/
h5 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.testButtons1 {
    margin-left: 20px;
    margin-bottom: 30px;
}

/*index.html*/
.index-title {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.index-img {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
}

.card {
    width: 90%;
    height: auto;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-style: solid;
    /* border-color: darkslategrey; */
    border-color: maroon;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#previousButton {
    margin-top: 15px;
    margin-left: 5%;
    width: 42.5%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nextButton {
    margin-top: 15px;
    margin-left: 2%;
    width: 42.5%;
    height: auto;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
    margin-top: 10px;
}

.card-title2 {
    margin-top: 6%;
}

#theme {
    margin-top: 6%;
}

/*listak.html*/
#cardsTable {
    margin-top: 30px;
}

#listBtn {
    margin-top: 50px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#downloadBtn {
    margin-top: 15px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group {
    margin-top: 40px;
}

/*nyelvek.html*/
#lang-list {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

/*teszt1-teszt2-teszt3.html*/
.test {
    margin-top: 40px;
    margin-left: 30px;
}

.test-legend {
    border-bottom-style: solid;
    border-bottom-color: darkslategrey;
}

#test-nav {
    margin-top: 40px;
}

#nav1, #nav2, #nav3 {
    color: darkslategrey;
}

.question {
    margin-top: 30px;
    margin-bottom: 30px;
}

